<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" data-provider-thread-count="3">

    <listeners>
        <listener class-name="com.listeners.ListenerClass" />
        <listener class-name="com.listeners.MethodInterceptor" />
        <listener class-name="com.listeners.AnnotaionTransformer" />
    </listeners>
    <test thread-count="3" name="Test" parallel="methods">
        <classes>
            <class name="com.tests.Adactin_Test01" />
        </classes>
    </test> <!-- Test -->
</suite>